<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setembro Amarelo</title>
</head>
<body>
    <h1>Valorize a sua vida!</h1>
    
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta nemo culpa consectetur similique quae iusto iste veritatis distinctio architecto cupiditate, odio suscipit harum neque laborum sit mollitia sequi veniam natus fugiat, quidem corrupti velit voluptatibus explicabo. Aspernatur, tenetur reprehenderit!
    </p>
</body>
</html>